<mat-toolbar color="primary">
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
  <a routerLink="/">User Dashboard</a>
  <span class="example-spacer"></span>
  <a *ngIf="!isLoggedIn" routerLink="/login" mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </a>

  <button *ngIf="isLoggedIn" type="button"  mat-icon-button>
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
